{% extends 'SZO/base.html' %}

{% block title %}Offer creator{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.groups.all.0.name == 'host' %}
    <div class="content-section">
		<header>
			<h1 class="header-1">Offer creator</h1>
		</header>
		<form method="POST" class="form-group">
			<div class="container">
				{% csrf_token %}
				{{form|crispy}}
				<br><button name="create" type="submit" class="btn btn-success">Post Offer!</button>
			</div>
		</form>
	</div>

{% else %}
    <h1>Access denied</h1>
{% endif %}
{% endblock %}