{% extends 'SZO/base.html' %}

{% block title %}Offer creator{% endblock %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated and user.groups.all.0.name == 'host' %}
        <div class="content-section">
            <div>
                <header>
                    <h1 class="header-1">Offer creator</h1>
                </header>
                <form method="POST" class="form-group" enctype="multipart/form-data">
                    <div class="container">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button name="create" type="submit" class="btn btn-success">Post Offer!</button>
                    </div>
                </form>
            </div>
            <div id="map"></div>
        </div>

    {% else %}
        <h1>Access denied</h1>
    {% endif %}

    <script>
        function initMap(callback) {
            const warsawPos = {lat: 52.2297, lng: 21.0122};
            const geocoder = new google.maps.Geocoder();
            const infowindow = new google.maps.InfoWindow();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 13,
                center: warsawPos,
            });
            const marker = new google.maps.Marker({
                position: warsawPos,
                map: map,
                draggable: true,
            });
            marker.addListener("click", () => {
                document.getElementById('latitude').value = marker.getPosition().lat();
                document.getElementById('longitude').value = marker.getPosition().lng();
                geocodeLatLng(geocoder, map, infowindow, marker);
            });
            let cityForm = document.getElementById("city");
            cityForm.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                   var address = document.getElementById('city').value;
                    geocoder.geocode( { 'address': address}, function(results, status) {
                      if (status == 'OK') {
                        map.setCenter(results[0].geometry.location);
                        marker.setPosition(results[0].geometry.location);
                      } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                      }
                    });
                }
            })
        }
        function geocodeLatLng(geocoder, map, infowindow, marker) {
          const latlng = {
            lat: marker.getPosition().lat(),
            lng: marker.getPosition().lng(),
          };

          geocoder
            .geocode({ location: latlng })
            .then((response) => {
              if (response.results[0]) {
                  let address = response.results[0].formatted_address;
                  let arr = address.split(", ");
                  let city = arr[arr.length -2];
                  arr = city.split(" ");
                  city = arr[1];
                  document.getElementById("city").value = city.toString();
              } else {
                window.alert("No results found");
              }
            })
            .catch((e) => window.alert("Geocoder failed due to: " + e));
        }

        window.initMap = initMap;
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCduRgbe7BF_YoWOdCKJPAS46Yc5N0lMBM&callback=initMap"
            defer
    ></script>
    <style>
        .content-section {
            display: flex;
            align-items: center;
            margin-left: 20vw;
        }

        #map {
            width: 40vw;
            height: 20vw;
            margin-top: 5vw;
            border-style: solid;
            border-color: #786f0d;
        }
    </style>
{% endblock %}