{% extends 'SZO/base.html' %}

{% block title %}Home Page{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <header>
        <h1 class="header-1">Logged user: {{user}}</h1>
    </header>
    <button onclick="toggle();" class="btn btn-lg btn-primary btn-block">Change password</button>
    <form id="id_password_change_form" method="POST" class="form-signin" hidden>
    {% csrf_token %}
        <br><br>
    <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
    <input name="old_password"  class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true"><br>
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true"><br>
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true"><br>

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

    <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>

    <div id="myJobOffer"><br>
    {% if user.groups.all.0.name == 'host' %}
        {% for offer in offers %}
            {% if request.user.username == offer.getUsername %}
                <h3>Title: {{ offer.getTitle }}</h3>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>

{% else %}
    <h1>You are not logged in!</h1>
    <p>Login to use website <a href="/login">here</a></p>
{% endif %}

<script>
      let toggle = () => {
        let element = document.getElementById("id_password_change_form");
        let hidden = element.getAttribute("hidden");

        if (hidden) {
           element.removeAttribute("hidden");
        } else {
           element.setAttribute("hidden", "hidden");
        }
      }
</script>

{% endblock %}