{% extends 'SZO/base.html' %}

{% block title %}List{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<header>
    <h1 class="header-1">Current list of offers</h1>
</header>

<label for="selectBox">Ads per page: </label>
<div class="perPage">
    <select id="selectBox">
        <option value="5" onclick="myFunction()">5</option>
        <option value="10" onclick="myFunction()">10</option>
        <option value="30" onclick="myFunction()">30</option>
    </select>
</div><br><br>
<div class="jobOffer">
{% for offer in offersList %}
    <div class="card">
        <div class="card-body">
            <h5>{{ offer.getTitle }}</h5>
            <p class="single-offer">{{ offer.getText }}<br>
                Host: {{ offer.getUser }}  City: {{ offer.getCity }} Tel: {{ offer.getTel }}</p>
        </div>
    </div>
{% endfor %}
</div>

<!-- Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if offersList.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ offersList.previous_page_number }}">Prev</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo First</a></li>
        <li class="page-item disabled"><a class="page-link">Prev</a></li>
        {% endif %}

        {% for i in nums %}
        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter}}</a></li>
        {% endfor %}

        {% if offersList.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ offersList.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ offersList.paginator.num_pages }}">&raquo Last</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
        <li class="page-item disabled"><a class="page-link">&raquo Last</a></li>
        {% endif %}
    </ul>
</nav>
<!-- End of pagination -->
{% else %}
<h1>Access denied</h1>
{% endif %}

<script>
function myFunction() {
  var x = document.getElementById("selectBox").value;
}

</script>

<style>
h5{
    font-size: 1.6vw;
    font-family: Copperplate, Papyrus, fantasy;
    color:red;
    margin-left:16px;
}
div.jobOffer {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;
  margin-right: 20px;
  width: 60vw;
  height: 55vh;
}
div.jobOffer::-webkit-scrollbar {
  display: none;
}
div.card-body{
    color:black;
    font-size:1.2vw
}
*{
  overflow-y: scroll;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
</style>

{% endblock %}

