{% extends 'SZO/base.html' %}

{% block title %}List{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <header>
        <h1 class="header-1">Current list of offers</h1>
    </header>
    {% for offer in offers %}
        <div id="jobOffer">
            <h3>Host: {{ offer.getUser }} Title: {{ offer.getTitle }} Text: {{ offer.getText }} City: {{ offer.getCity }} Tel: {{ offer.getTel }}</h3>
        </div>
    {% endfor %}
{% else %}
    <h1>Access denied</h1>
{% endif %}
{% endblock %}