{% extends 'SZO/base.html' %}

{% block title%}Premium{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="content-section">
    {% csrf_token %}
    {{form|crispy}}
    <form method="POST" class="form-group">

        <button class="btn btn-lg btn-primary btn-block" type="submit">PREMIUM ACCOUNT</button>
    </form>
</div>

<script>
      let premiumChange = () => {
           g = Group.objects.get(name='premium');
           g.user_set.add(request.user.username);
           console.log('test');
      }
</script>

{% endif %}
{% endblock %}
