{% extends 'SZO/base.html' %}

{% block title %}Premium{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.groups.all.1.name == 'premium' %}
            <div>
                <br>
                <h3>You are already premium user</h3>
            </div>
        {% elif user.groups.all.0.name == 'seeker' %}
            <div>
                <br>
                <h3>You are registered as a seeker.<br>Using this app is free for you.</h3>
            </div>
        {% else %}
            <div class="content-section">
                {% csrf_token %}
                {{ form|crispy }}
                <br><br>
                <div>
                    You can still use "Find your job" for free with 3 advertisements at the same time. <br> You can also
                    purchase premium account with one-time 10PLN payment
                </div>
                <a href="payu/" ><button class="btn btn-lg btn-primary btn-block">Start a premium</button></a>
            </div>
        {% endif %}
    {% else %}
        <h3><a href="/login">Login</a> first</h3>
    {% endif %}
{% endblock %}
