html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #021027;
}
html, .main{
    background-color: rgb(170, 216, 44);
    color: #f1f1f1;
}
registrationForm.form{
    margin-top: 0.8vh;
}
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");
header {
  width: 100%;
  height: 15vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}
header h1 {
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  margin-top: 1.2vw;
  font-size: 3.2vw;
  color: transparent;
  -webkit-background-clip:
  text;
  background-clip: text;
}
header .header-1{
  background-image: repeating-radial-gradient(farthest-side at 2px 8px, #faee6e, #c7ba2e, #786f0d);
}
div .container{
    font-size: 1.2vw;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}
.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 28px;
    transition: all 0.5s ease;
    transform: scale(1);

}
.sidenav a:hover{
    color: #f1f1f1;
    transform: scale(1.2) perspective(1px);
}
.main{
    margin-left: 160px;
    padding: 0px 10px;
    height: 100%;
    background-image: url("images/sky.jpg");
    background-size: cover;
    background-color: #050b4d;
    background-blend-mode: lighten;
}
.help-text{
    color: greenyellow;
}
div.absolute {
    position: absolute;
    width: 95%;
    bottom: 7%;
}
.sidenav h6 {
    font-size: 9px;
    color: #f542d1;
    position: absolute;
    width: 95%;
    bottom: 0.8%;
}
.sidenav h6:hover{
    color: #ffdf00;
}
button:hover{
    animation-name: button-change;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes button-change {
    100% {
        background-color: coral;
        transform: scale(1.2);
        border-radius: 50%;
    }
}
svg {
    display: block;
    font: 18.0em 'Montserrat';
    width: center;
    height: 80px;
    margin: auto;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 12px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 6.5s infinite linear;
}
.text-copy:nth-child(1){
	stroke: #09e81c;
	animation-delay: -1;
}
.text-copy:nth-child(2){
	stroke: #d56ef5;
	animation-delay: -2s;
}
.text-copy:nth-child(3){
	stroke: #ffe600;
	animation-delay: -3s;
}
.text-copy:nth-child(4){
	stroke: #02f7d2;
	animation-delay: -4s;
}
.text-copy:nth-child(5){
	stroke: #fcfcfc;
	animation-delay: -5s;
}
.text-copy:nth-child(6){
	stroke: #e0e319;
	animation-delay: -6s;
}
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
