{% extends 'SZO/base.html' %}
{% block content %}
<h3>Password reset</h3>
<p>Enter your new password</p>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <input name="password1" class="form-control" placeholder="new password" type="email" id="password1" required="true" >
    <input name="password2" class="form-control" placeholder="confirm password" type="email" id="password2" required="true" >
    <button name="create" type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
</form>
{% endblock %}