{% extends 'SZO/base.html' %}

{% block title%}Logowanie{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <legend class="border-bottom mb-3">Start looking for a job</legend>
        {{form|crispy}}
        <p>Nie masz jeszcze konta? <a href="/register">Stwórz je teraz</a></p>
        <p><a href="/resetPassword">Nie pamiętam hasła</a></p>
        <button name = "log" type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}
